{% extends "base.html" %}
{% from "macros.html" import render_field %}
{% from "macros.html" import count_items %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="container mt-5">
  <div class="row">

    {% if products | length > 0 %}
    {% for product in products.results %}

    {% set url = "/product/" + product.slug %}
    <div class="col-md-4">
      <div class="card mb-4">
        <a href="{{ url }}"><img src="{{product.image}}" class="card-img-top"></a>
        <div class="card-body">
          <a href="{{ url }}">
            <h5 class="card-title">{{ product.name }}</h5>
          </a>
          <p class="card-text">Price: ${{ product.price }}</p>

        </div>
      </div>
    </div>

    {% endfor %}

    {% else %}
    <strong>No products found.</strong>
    {% endif %}


  </div>
</div>

{% endblock %}