{% extends "base.html" %}
{% from "macros.html" import render_field %}
{% from "macros.html" import count_items %}

{% block title %}Orders{% endblock %}

{% block content %}


<div class="container mt-5">
  <h2>Orders</h2>
  {% if orders | length > 0 %}
  <table class="table">
    <thead>
      <tr>
        <th>Order ID</th>
        <th>Date</th>
        <th>Items</th>
        <th>Total Amount</th>
      </tr>
    </thead>
    <tbody>
      {% for order in orders %}
      <tr>
        <td>{{order.id}}</td>
        <td>{{order.date_added}}</td>
        <td>
            {% for image in order.productimages %}
            <img src="{{image}}" style="max-width: 50px;">
            {% endfor %}
        </td>
        <td>${{order.amount}}</td>
      </tr>
      {% endfor %}

    </tbody>
  </table>
  {% else %}
    <strong><p class="mt-5">No orders!</p></strong>
    {% endif %}
</div>
{% endblock %}
